[submodule "calculator_app"]
	path = calculator_app
	url = https://github.com/Dave-n-tech/dreamdevs_calculator_app.git
[submodule "Biccas"]
	path = Biccas
	url = C:UsersuserDocumentscodeDreamDevsDreamDevs_FrontendBiccas
